In [1]:
import pandas as pd
import numpy as np

In [16]:
# Load Students Performance Dataset
df = pd.read_csv("Student_Performance_Dataset.csv")

# Display first 5 records
df.head()

# Display first 5 rows
df.head()

,Student_ID,Age,Gender,Class,Study_Hours_Per_Day,Attendance_Percentage,Parental_Education,Internet_Access,Extracurricular_Activities,Math_Score,Science_Score,English_Score,Previous_Year_Score,Final_Percentage,Performance_Level,Pass_Fail
0,S0001,15,Male,12,1.0,65,Postgraduate,No,No,40,39,72,81,50.33,Average,Pass
1,S0002,19,Female,9,1.6,58,Graduate,No,Yes,80,44,35,47,53.00,Average,Pass
2,S0003,14,Female,12,3.6,64,High School,Yes,Yes,83,73,59,58,71.67,Good,Pass
3,S0004,18,Female,9,5.5,68,Postgraduate,Yes,No,68,48,77,54,64.33,Average,Pass
4,S0005,14,Male,10,5.0,80,High School,Yes,No,41,46,36,68,41.00,Poor,Fail

In [17]:
# Display last 5 rows
df.tail()

,Student_ID,Age,Gender,Class,Study_Hours_Per_Day,Attendance_Percentage,Parental_Education,Internet_Access,Extracurricular_Activities,Math_Score,Science_Score,English_Score,Previous_Year_Score,Final_Percentage,Performance_Level,Pass_Fail
4995,S4996,17,Male,11,4.0,50,Graduate,No,No,64,60,70,93,64.67,Average,Pass
4996,S4997,19,Male,10,5.6,90,High School,Yes,No,44,59,43,63,48.67,Poor,Fail
4997,S4998,16,Female,9,2.3,61,Graduate,No,No,95,41,82,62,72.67,Good,Pass
4998,S4999,15,Male,11,2.9,82,Graduate,No,Yes,66,45,61,75,57.33,Average,Pass
4999,S5000,19,Female,10,2.0,97,Postgraduate,No,Yes,69,53,87,77,69.67,Good,Pass

In [18]:
# Number of rows and columns
df.shape

(5000, 16)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  5000 non-null   object
 1   Age                         5000 non-null   int64
 2   Gender                      5000 non-null   object
 3   Class                       5000 non-null   int64
 4   Study_Hours_Per_Day         5000 non-null   float64
 5   Attendance_Percentage       5000 non-null   int64
 6   Parental_Education          5000 non-null   object
 7   Internet_Access             5000 non-null   object
 8   Extracurricular_Activities  5000 non-null   object
 9   Math_Score                  5000 non-null   int64
 10  Science_Score               5000 non-null   int64
 11  English_Score               5000 non-null   int64
 12  Previous_Year_Score         5000 non-null   int64
 13  Final_Percentage            5000 non-null   float64
 14  Performance_Level           5000 non-null   object
 15  Pass_Fail                   5000 non-null   object
dtypes: float64(2), int64(7), object(7)
memory usage: 625.1+ KB

In [20]:
df.describe()

,Age,Class,Study_Hours_Per_Day,Attendance_Percentage,Math_Score,Science_Score,English_Score,Previous_Year_Score,Final_Percentage
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,16.508800,10.496400,3.287260,74.919800,67.754800,66.895400,67.782800,67.282200,67.477656
std,1.718637,1.106812,1.587979,14.673842,18.724487,19.141195,19.248473,16.157511,10.964081
min,14.000000,9.000000,0.500000,50.000000,35.000000,35.000000,35.000000,40.000000,36.330000
25%,15.000000,10.000000,1.900000,62.000000,52.000000,50.000000,51.000000,53.000000,59.670000
50%,17.000000,10.000000,3.300000,75.000000,68.000000,67.000000,68.000000,67.000000,67.330000
75%,18.000000,11.000000,4.700000,88.000000,84.000000,83.000000,85.000000,81.000000,75.330000
max,19.000000,12.000000,6.000000,100.000000,100.000000,100.000000,100.000000,95.000000,98.330000

In [21]:
numerical_features = df.select_dtypes(include=[np.number]).columns.tolist()
categorical_features = df.select_dtypes(include=['object']).columns.tolist()

print("Numerical Features:")
print(numerical_features)

print("\nCategorical Features:")
print(categorical_features)

Numerical Features:
['Age', 'Class', 'Study_Hours_Per_Day', 'Attendance_Percentage', 'Math_Score', 'Science_Score', 'English_Score', 'Previous_Year_Score', 'Final_Percentage']

Categorical Features:
['Student_ID', 'Gender', 'Parental_Education', 'Internet_Access', 'Extracurricular_Activities', 'Performance_Level', 'Pass_Fail']

In [22]:
for col in categorical_features:
    print(f"\nUnique values in '{col}':")
    print(df[col].unique())

Unique values in 'Student_ID':
['S0001' 'S0002' 'S0003' ... 'S4998' 'S4999' 'S5000']

Unique values in 'Gender':
['Male' 'Female']

Unique values in 'Parental_Education':
['Postgraduate' 'Graduate' 'High School']

Unique values in 'Internet_Access':
['No' 'Yes']

Unique values in 'Extracurricular_Activities':
['No' 'Yes']

Unique values in 'Performance_Level':
['Average' 'Good' 'Poor' 'Excellent']

Unique values in 'Pass_Fail':
['Pass' 'Fail']

In [23]:
df.isnull().sum()

Student_ID                    0
Age                           0
Gender                        0
Class                         0
Study_Hours_Per_Day           0
Attendance_Percentage         0
Parental_Education            0
Internet_Access               0
Extracurricular_Activities    0
Math_Score                    0
Science_Score                 0
English_Score                 0
Previous_Year_Score           0
Final_Percentage              0
Performance_Level             0
Pass_Fail                     0
dtype: int64

In [27]:
# Choosing 'math score' as target variable
target = "Math_Score"

# Input features
features = df.drop(columns=[target]).columns.tolist()

print("Target Variable:", target)
print("\nInput Features:")
print(features)

Target Variable: Math_Score

Input Features:
['Student_ID', 'Age', 'Gender', 'Class', 'Study_Hours_Per_Day', 'Attendance_Percentage', 'Parental_Education', 'Internet_Access', 'Extracurricular_Activities', 'Science_Score', 'English_Score', 'Previous_Year_Score', 'Final_Percentage', 'Performance_Level', 'Pass_Fail']

In [28]:
# Convert math score into pass/fail for imbalance check
df['math_pass'] = df['Math_Score'].apply(lambda x: 1 if x >= 50 else 0)

df['math_pass'].value_counts()

math_pass
1    3916
0    1084
Name: count, dtype: int64

In [29]:
print("Total samples:", df.shape[0])
print("Total features:", df.shape[1])

Total samples: 5000
Total features: 17

In [14]:
### Final Observations:

- The dataset contains both numerical and categorical features.
- No missing values are present, indicating good data quality.
- Categorical variables include gender, parental education, and lunch type.
- Numerical variables include math, reading, and writing scores.
- The dataset is suitable for regression and classification tasks.
- Feature encoding will be required before applying ML models.